<!DOCTYPE html>
<html>
<head>
        <!-- inject:css-->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- endinject-->
        <!--bower:css-->
        <link rel="stylesheet" href="/lib/angular-material/angular-material.css" />
        <!--endbower-->
        <!-- bower:js -->
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-animate/angular-animate.js"></script>
        <script src="/lib/angular-aria/angular-aria.js"></script>
        <script src="/lib/angular-messages/angular-messages.js"></script>
        <script src="/lib/angular-material/angular-material.js"></script>
        <!-- endbower -->

        <!--inject:js-->
        <script src="/js/app.js"></script>
        <!--endinject-->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
<meta charset="UTF-8">
<title>Template</title>
</head>

<body ng-app="myApp">
    <div ng-controller="MainController">
    <md-toolbar >
        <span layout-margin layout-padding>CSV person parser</span>
    </md-toolbar>
    <md-content layout-fill class="mainContent">
        <md-card>

          <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="images\rotation.png">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Bulk Joiner Utility</span>
                <span class="md-subhead">upload csv file <%if(fileUploaded){%><%=fileUploaded%><%}%></span>
            </md-card-header-text>
          </md-card-header>            
        <md-card-content layout-padding layout-margin>
            <form 
                ref='uploadForm' 
                id='uploadForm'   
                action='upload'
                method='post'
                encType="multipart/form-data">  
                        <input type="file" name="csvFile" />
                        <input type="submit" value="upload"/>              
        </form>  
        <div style="height:200px;overflow-y:auto;">
        <table style="width:50%">
            <tr>
                <th>NINO</th>
                <th>Surname</th> 
                <th>PaylocationRef</th>
            </tr>
        <%for(var x = 0;x < rejectedData.length;x++){%>        
            <tr>
                <td><%=rejectedData[x].nino%></td>
                <td><%=rejectedData[x].surname%></td>
                <td><%=rejectedData[x].paylocationref%></td>                 
            </tr>                    
        <%}%>
        </table>
        </div> 
        <a href="/download">Download Bulk Joiner Template</a>       
        <a href="/downloadInsert">Download Insert Statements</a>
        </md-card-content>        
        </md-card>
    </md-content>
    </div>    
</body>

</html> 